.del-btn {
    background: transparent;
    border: none;
    color: rgb(255, 255, 255);
    svg {
      font-size: 1.8rem }
  }
  .chat {
    display: flex;
    justify-content: space-between;
    max-width: 35%;
    align-items: center;
  }