a {
  color: inherit;
  text-decoration: none;
}
.chatList {
  background-color: inherit;
}
.css-10hburv-MuiTypography-root {
  color: inherit;
}
.del-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  color: rgb(32, 27, 27);
  transition: all .6s;
  svg {
    font-size: 1.8rem;
  }
  @media (any-hover: hover) {
    &:hover {
      color: rgb(255, 0, 0);
    }
  }
}
.chatList {
  display: flex;
  justify-content: space-between;
  max-width: 35%;
  align-items: center;
}
